/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Anton', sans-serif;
font-family: 'Fondamento', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Quando', serif;

}
