
<main class="hero">
<div class="info-container">

   <h1>Re Zero</h1><h6><p>
    Re-zero es una serie de novela ligera japonesa, cuya trama es vivir en un mundo diferente desde cero,  sumergete en este mundo de fantasías, amor, drama acción, romance y aventura entrando en el siguiente articulo que presentamos a continuación. </p></h6>
   <button type="button" class="btn btn-primary" >Read More</button>
 </div>
</main>

<footer class="footer">
  <div class="vistas">
    <i class="fa-solid fa-tv"></i>
  <h2>Ver online</h2>
  </div>
  <div class="follow-me">
    <h2>Follow me</h2>
  </div>
  <div class="social-network">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-whatsapp"></i>
  </div>
</footer>
